@{
    ViewBag.Title = "遊び方";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <h3>ゲームの進行について</h3>
    <ol class="round">
        <li class="one">
            <h4>参加者募集中</h4>
            新規作成からゲームを作成すると、参加者募集中になります。<br />
            ３～７人の参加者が集まった上で、ゲーム作成者が開始ボタンを押すとゲームが開始されます。
        </li>
        <li class="two">
            <h4>夜</h4>
            ゲームが開始するとカードが配られ、あなたの役職が判明します。<br />
            村人以外の役職は夜の間に能力を使用してください。<br />
            使用するとすぐに結果が表示されます。<br />
            時間内に使用されなかった場合、ランダムで対象が選択されます。
        </li>
        <li class="three">
            <h4>昼</h4>
            議論の時間です。<br />
            この時間中は投票出来ません。
        </li>
        <li class="four">
            <h4>投票</h4>
            投票の時間です。<br />
            一度選んだ投票先を変更することは出来ません。慎重に選択しましょう。
        </li>
        <li class="five">
            <h4>決着</h4>
            投票により処刑者が決定され、勝敗の結果が表示されます。<br />
            ゲームが終了するまで、感想を書き込むことが出来ます。
        </li>
        <li class="six">
            <h4>終了</h4>
            ゲームが終了し、メッセージを書き込むことは出来ません。
        </li>
    </ol>
    
<p>
    @Html.ActionLink("戻る", "Index", "Home")
</p>

</article>

<article>
    <h3>役職について</h3>
    執筆中
</article>

@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@
