@model OneNightWerewolf.Models.Game

@{
    ViewBag.Title = "ゲーム作成";
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("Create", "Game", FormMethod.Post, new { @role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.GameName, "メッセージ")
        @Html.TextBoxFor(model => model.GameName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.GameName)
    </div>

    @Html.Hidden("Creator", User.Identity.Name)
    <p class="text-danger">作成後1時間以内に開始されなかった場合、ゲームは削除されます。</p>
    <input type="submit" class="btn btn-default" value="作成" />
}
<div>
    @Html.ActionLink("戻る", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
