@model OneNightWerewolf.Models.Message

@using (Ajax.BeginForm("SendMessage", "", new AjaxOptions(), new { id = "SendMessageForm", @role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.GameId)
    @Html.HiddenFor(model => model.MessageId)
    @Html.HiddenFor(model => model.MessageType)
    @Html.HiddenFor(model => model.PlayerId)
    @Html.HiddenFor(model => model.PlayerName)
    @Html.HiddenFor(model => model.PlayerUserName)
    @Html.HiddenFor(model => model.IconUri)

    <div class="form-group">
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Content, new { tabindex = 1, @class = "form-control", @placeholder = "メッセージを入力" })
        </div>
        @Html.ValidationMessageFor(model => model.Content)
        <div class="col-md-2">
            <input type="button" id="send" class="btn btn-default" value="発言" disabled="disabled" tabindex="2" />
        </div>
    </div>
}
