<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ワンナイト人狼チャット</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ワンナイト人狼チャット", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    @* TODO: アクティブなナビ切り替え *@
                    <li class="active">@Html.ActionLink("トップ", "Index", "Home")</li>
                    <li>@Html.ActionLink("ルール", "Rules", "Home")</li>
                    <li>@Html.ActionLink("遊び方", "Howto", "Home")</li>
                    <li>@Html.ActionLink("ユーザ一覧", "Users", "Account")</li>
                    <li>@Html.ActionLink("バージョン", "Version", "Home")</li>
                    <li>@Html.ActionLink("連絡先", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ワンナイト人狼チャット Ver.0.9 by <a href="http://www.twitter.com/euro_s">@@euro_s</a></p>
            <p>Thanks to <a href="http://1nite-jinro.com/">ワンナイト人狼</a></p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.signalR-2.1.0.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
